body {
  font-family: "Source Sans Pro";
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  background-color: #fff; }
  body .header {
    background-image: url(../img/m-h-day.jpg);
    background-position: 0px -160px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 42%/32% 0px;
    width: 100%; }
    body .header-wrap {
      max-width: 1540px;
      margin: 0 auto; }
      body .header-wrap .landing-logo {
        color: #2c2f3c; }
    body .header_heading {
      color: #2c2f3c;
      font-size: 89px;
      font-weight: 800;
      max-width: 700px;
      letter-spacing: 0.5px;
      line-height: 1.02;
      margin-top: 65px;
      margin-bottom: 44px;
      position: relative;
      z-index: 1; }
      body .header_heading:after {
        content: "";
        display: block;
        width: 379px;
        height: 32px;
        background-color: #14a0c7;
        position: absolute;
        bottom: 0;
        z-index: -1; }
    body .header_text {
      color: #2c2f3c;
      white-space: pre-line;
      line-height: 1.56;
      margin-bottom: 74px;
      letter-spacing: 0.5px;
      font-size: 20px; }
    body .header_button, body .section_banner_button {
      padding: 22px 52px 17px 57px;
      color: #fff;
      background-color: #699900;
      border: none;
      border-radius: 4px;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1.5px;
      box-sizing: border-box;
      margin-bottom: 221px; }
      body .header_button:hover, body .section_banner_button:hover {
        cursor: pointer; }
  body .section {
    background-color: #fff;
    position: relative; }
    body .section_card_wrap {
      max-width: 1540px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 264px; }
    body .section_card {
      flex-basis: 32.27%;
      display: flex;
      flex-direction: column;
      background-color: #21232e;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 25px 26px 3px 25px; }
      body .section_card_img {
        border-radius: 5px;
        width: 446px; }
      body .section_card_heading {
        color: #fff;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 0px;
        word-spacing: 3px;
        position: relative;
        z-index: 1;
        margin: 18px auto 3px; }
        body .section_card_heading:after {
          content: "";
          display: block;
          width: 100%;
          height: 9px;
          background-color: #14a0c7;
          position: absolute;
          bottom: 0px;
          z-index: -1; }
      body .section_card_text {
        margin-top: 15px;
        font-family: "Hind";
        color: #c0c3ce;
        font-size: 21px;
        text-align: center;
        line-height: 1.45;
        letter-spacing: 0px;
        font-weight: 400; }
      body .section_card:last-child .section_card_text {
        margin-top: 28px; }
    body .section_text {
      color: #2c2f3c;
      font-weight: 600;
      font-size: 54px;
      letter-spacing: 0px;
      word-spacing: -4px;
      position: relative;
      z-index: 1;
      text-align: center;
      margin-top: 45px;
      margin-bottom: 45px; }
      body .section_text:before {
        content: "";
        position: absolute;
        width: 235px;
        height: 15px;
        background-color: #14a0c7;
        bottom: 13px;
        left: 50.5%;
        z-index: -1; }
    body .section_banner {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      background: linear-gradient(45deg, #679708, #2E5CD7);
      align-items: center;
      box-sizing: border-box;
      padding: 0px 131px 0 126px;
      border-radius: 6px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -355px; }
      body .section_banner_button {
        margin-bottom: 0; }
      body .section_banner_heading {
        font-size: 40px;
        font-weight: 800;
        letter-spacing: -1px;
        margin-top: 29px;
        margin-bottom: -5px;
        color: #2c2f3c;
        position: relative;
        z-index: 0; }
        body .section_banner_heading:before {
          content: "";
          position: absolute;
          width: 78px;
          height: 16px;
          bottom: 5px;
          background-color: #14a0c7;
          left: 29.5%;
          z-index: -1; }
      body .section_banner_text {
        letter-spacing: 0.3px;
        margin-bottom: 54px;
        color: #c0c3ce;
        margin-top: 27px;
        font-size: 20px; }
  body .footer {
    background-color: #21232e;
    color: #c0c3ce;
    padding: 148px 0 52px; }
    body .footer-wrap {
      max-width: 1540px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    body .footer_text {
      max-width: 388px;
      letter-spacing: 0.15px;
      font-size: 18px;
      line-height: 1.4;
      margin-top: 10px;
      font-family: "Hind"; }
    body .footer-cr {
      margin-top: -7px;
      font-size: 21px;
      letter-spacing: -0.6px;
      word-spacing: 1px; }
  body .landing-logo {
    display: flex;
    align-items: center; }
    body .landing-logo img {
      margin-right: 17px;
      width: 56px; }
    body .landing-logo p {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.25;
      margin-top: 18px;
      letter-spacing: 1px; }
      body .landing-logo p span {
        display: block;
        font-weight: 800;
        font-size: 13px;
        margin-left: 13px;
        margin-top: 0px;
        letter-spacing: 0px; }
